:root {
  font-family:Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(23, 3, 55, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  width: 100px;
  height: auto; 
  position: fixed;
  top: 0; 
  left: 0; 
  padding: 0px;
  z-index: 1000;
}

  
.text {
  color: rgb(0, 0, 0);
  position: fixed;
  z-index: 1000;
  text-decoration: inherit;
  font-weight: bold; 
  padding: 0px;
  font-family: Arial, sans-serif; 
}
.textV{
  position: fixed;
  top: 400px;
  left: 40%;
}
.textD{
  position: fixed;
  top: 325px;
  left: 10px;
}
.textNombre {
  position: fixed;
  top: 170px;
  left: 10px;
}
.textCC {
  position: fixed;
  top: 130px;
  left: 10px;
}
.textCargo {
  position: fixed;
  top: 210px;
  left: 1%;
}
.textHorasDirectas {
  position: fixed;
  top: 210px;
  left: 25%;
}.textHorasPreparacion {
  position: fixed;
  top: 210px;
  left: 50%;
}.textHorasLabor {
  position: fixed;
  top: 210px;
  left: 75%;
}
a {
  font-weight: 500;
  color: #31c97a;
  text-decoration: inherit;
  font-family: Arial, sans-serif; 
}
a:hover {
  color: rgb(209, 65, 159);
}
body {
 
  overflow-y: auto;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Arial, sans-serif; 
  font-family: inherit;
  background-color: rgb(20, 3, 82);
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  border-color: #de2323;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.botonConfirmacion {
  position: fixed;
  bottom: 20px;  
  right: 20px; 
  padding: 10px;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #ed9632;
    background-color: #ffffff;
  }
  a:hover {
    color: #070826;
  }
  button {
    background-color: #f9f9f9;
  }
}
.breadcrumb {
  position: fixed;
  top: 70px; 
  width: 100%;
  z-index: 1000;
  left: 110px;
}
.LineaSeparadora {
  height:70px;
  background-color: rgb(20, 3, 82);
  width: 100%;
  top: 0px;
  position: fixed;
  left: 0;
  z-index: 999;
}
#EntradaCedula {
  margin-bottom: 10px; 
  background-color: #fcfcfc;
  color: #07268b; 
  border: 1px solid #7e12a5; 
  z-index: 1000;
  width: 500px;
  top: 120px;
  left: 90px;
  position: fixed;
}
#SalidaNombre {
  margin-bottom: 10px; 
  background-color: #ffffff;
  color:#07268b; 
  border: 1px solid #7e12a5; 
  z-index: 1000;
  width: 500px;
  top: 160px;
  left: 90px;
  position: fixed;
}
.botonBuscarCedula {
  color: #393d7b; 
  top: 120px;
  position: fixed;
  left: 591px;
}
#Cargo {
  margin-bottom: 10px; 
  background-color: #ffffff; 
  color:#07268b;
  border: 1px solid #7e12a5; 
  z-index: 1000;
  width: 120px;
  top: 210px;
  left: 8%;
  position: fixed;
}
#HorasDirectas {
  margin-bottom: 10px; 
  background-color: #ffffff;
  border: 1px solid #7e12a5; 
  z-index: 1000;
  width: 130px;
  top: 210px;
  left: 35%;
  position: fixed;
}
#HorasPreparacion {
  margin-bottom: 10px; 
  background-color: #ffffff; 
  color:#07268b; 
  border: 1px solid #7e12a5; 
  z-index: 1000;
  width: 130px;
  top: 210px;
  left: 60%;
  position: fixed;
}
#HorasLabor {
  margin-bottom: 10px; 
  background-color: #ffffff;
  color:#07268b; 
  border: 1px solid #7e12a5; 
  z-index: 1000;
  width: 130px;
  top: 210px;
  left: 85%;
  position: fixed; 
}
.tabla-container {
  max-height: 230px; 
  overflow-y: auto;
  margin: 1px;
  width: 96%;
  top: 430px;
  left: 2%;
  position: fixed;
}
table {
  width: 100%; 
  border-collapse: collapse;
  border: 1px solid rgb(139, 127, 127); 

}
th, td {
  border: 1px solid black; 
  padding: 10px; 
  text-align: center; 
}
#CodigoDigitado{
  width: 230px;
  top: 320px;
  left: 250px;
  position: fixed;
}
#CodigoDigitadoBoton{
  top: 320px;
  left: 480px;
  position: fixed;
}
.listadoCodigos{
  top: 320px;
  left: 550px;
  position: fixed;
}
.container {
  position: relative;
  z-index: 1000;
  top: 0px;
  left: 0px;
}
.BotonActualizar {
  position: relative;
  z-index: 1000;
  top: 380px;
  left: 690px;
}

#Comentario{
  top: 280px;
  width: 900px;
  left: 300px;
  position: fixed;
}
  
 